@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.body {
  font-family: "Arial"; }

.header {
  width: 100%; }

.navigation {
  background-image: linear-gradient(to right, #313131 0%, black 100%);
  padding: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .navigation__link {
    text-decoration: none;
    color: #a73e3e;
    margin-right: 32px;
    font-size: 1.25em;
    transition: 0.3s ease all 0s; }
    .navigation__link:hover {
      color: #d15252;
      font-weight: 700; }
  .navigation__image {
    width: 8%;
    margin-right: auto; }

.main {
  margin: 0 auto;
  width: 100%; }
  .main-rental {
    background-image: url(images/rental_background.jpg);
    background-position: center center;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .main-rental__heading {
      margin: 0;
      font-size: 5em;
      letter-spacing: 4px;
      font-weight: 700;
      background: linear-gradient(to right, #24243e 0%, #0428aa 50%, #24243e 60%);
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-emphasis-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 3s linear infinite;
      display: inline-block; }
    .main-rental__paragraph {
      color: #33335e;
      font-size: 1.25em;
      letter-spacing: 8px;
      text-shadow: 8px 1px 20px #b3b3b3; }

@keyframes textclip {
  to {
    background-position: 200% center; } }
  .main-header {
    width: 100%;
    height: 600px;
    background-image: url(images/header_background.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .main-header__styled {
    border: 5px solid #4975ec;
    padding: 64px;
    text-align: center; }
  .main-header__heading {
    margin: 0;
    color: #1636a1;
    font-size: 3.5em;
    text-shadow: 1px 1px 1px #000; }
  .main-header__paragraph {
    margin: 0;
    color: #18275a;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px #000; }

.segments {
  text-align: center;
  height: 1000px; }
  .segments__heading {
    background: linear-gradient(to right, #00cef2, #053ae6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    letter-spacing: 8px;
    margin: 32px 0 0 0;
    text-transform: uppercase; }
  .segments__paragraph {
    margin: 0;
    font-size: 1.5em;
    color: #363c4e; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 16px;
  margin-top: 64px; }

.segment {
  border-radius: 8px;
  margin: 32px 16px 16px 16px;
  padding: 16px;
  height: 600px; }
  .segment__heading {
    margin: 0;
    font-size: 1.5em;
    color: #a73e3e;
    letter-spacing: 4px;
    text-transform: uppercase; }
  .segment__description {
    margin: 0;
    color: #504a53;
    height: 40px; }
  .segment__image {
    width: 100%; }
  .segment__button {
    text-decoration: none;
    color: #4d4d4d;
    text-transform: uppercase;
    border: 2px solid #0575f5;
    padding: 16px;
    transition: all 0.3s ease 0s;
    border-radius: 16px; }
    .segment__button:hover {
      transition: all 0.3s ease 0s;
      background-color: #0575f5;
      color: #fff; }

.car-segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #e9e9e9;
  border-bottom: 1px solid #504a53; }
  .car-segment__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 32px;
    margin: 64px; }
  .car-segment__heading {
    font-size: 3.5em;
    letter-spacing: 6px;
    margin: 32px 0 0 0;
    text-transform: uppercase;
    color: #b45b5b;
    text-shadow: -0.0075em 0.0075em 0 #faf3f3, 0.005em 0.005em 0 #dcb2b2, 0.01em 0.01em 0 #deb6b6, 0.015em 0.015em #dfbaba, 0.02em 0.02em 0 #e1bdbd, 0.025em 0.025em 0 #e3c1c1, 0.03em 0.03em 0 #e5c5c5, 0.035em 0.035em 0 #e6c9c9; }
  .car-segment__description {
    margin: 0;
    font-size: 1.25em;
    color: #6e6e6e;
    text-align: center;
    width: 75%; }
  .car-segment__description--special {
    color: #cf4444;
    font-style: italic;
    font-size: 1.5em; }

.choose-car {
  background-color: #f8f8f8;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25em;
  box-shadow: 0 10px 6px -6px #777; }
  .choose-car__image {
    width: 100%;
    height: 185px; }
  .choose-car__name {
    letter-spacing: 5px;
    margin: 8px; }
  .choose-car__description {
    margin: 8px; }
  .choose-car__prize {
    margin: 8px; }
    .choose-car__prize--image {
      width: 15%; }
    .choose-car__prize--day {
      margin: 0;
      font-size: 0.8em;
      font-style: italic; }
  .choose-car__button {
    margin-top: 32px;
    width: 200px;
    padding: 8px;
    text-decoration: none;
    border: none;
    background: #f3f0f1;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde; }
    .choose-car__button:hover {
      opacity: 0.3;
      box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2); }
    .choose-car__button:active {
      opacity: 1;
      border: none;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
      color: #79e3b6; }
    .choose-car__button:focus {
      outline: none; }

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: linear-gradient(to bottom, #1d1d1d 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.5) 200%);
  background-blend-mode: multiply;
  color: #5d6699;
  font-size: 2em; }
  .footer__icon {
    font-size: 1.5em;
    text-decoration: none;
    margin: 1em;
    color: #5d6699;
    transition: all 0.3s ease 0s; }
    .footer__icon:hover {
      transition: all 0.3s ease 0s;
      color: #a7b3f8; }

.main-form {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(118.4deg, #7a2334 27.5%, #3e091b 92.7%);
  display: flex;
  justify-content: center;
  align-items: center; }

.form {
  border: 1px solid white;
  padding: 32px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form__label {
    color: #FFF;
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase; }
  .form__input {
    padding: 8px;
    margin-bottom: 32px;
    width: 100%; }
  .form__button {
    margin-top: 32px;
    height: 40px;
    width: 25%;
    border: none;
    border-radius: 50px;
    background: #a73e3e;
    box-shadow: -3px -3px 10px #8e3535ab,  3px 3px 10px #c047477a;
    text-transform: uppercase;
    color: #FFF; }
